
<template>
  <div>
    <AisField label="Year Type">
      <AisSelect :options="yearTypes" v-model="selectedYearType" name="delegate.selectedYearType"/>
    </AisField>
    <AisField label="Year">
      <AisSelect :options="years" v-model="selectedYear" name="delegate.selectedYear"/>
    </AisField>
  </div>
</template>


<script setup lang="ts">
    import {AisField, AisSelect} from '@ais-public/ais-components'
    import {useDocumentStore} from "../stores/document-store.js";
    import {storeToRefs} from "pinia";

    const {yearTypes, selectedYearType, years, selectedYear} = storeToRefs(useDocumentStore())
</script>