<template>
  <div>
    <AisField label="Collection Agency">
      <AisSelect :options="agencies" v-model="selectedAgency" name="delegate.selectedAgency"/>
    </AisField>
    <AisField label="Optional comments to be included in the PDF may be added here:">
      <AisTextarea v-model="comments" rows="5" size="lg" name="delegate.comments"/>
    </AisField>
  </div>
</template>


<script setup lang="ts">
    import {AisField, AisSelect, AisTextarea} from "@ais-public/ais-components"
    import {storeToRefs} from "pinia";
    import {useDocumentStore} from "../stores/document-store.js";

    const {agencies, selectedAgency, comments} = storeToRefs(useDocumentStore())
</script>