<template>
  <div>
    <AisField label="Tax Year">
      <AisSelect :options="taxYears" v-model="selectedTaxYear" name="delegate.selectedTaxYear"/>
    </AisField>
  </div>
</template>


<script setup lang="ts">
    import {AisField, AisSelect} from "@ais-public/ais-components"
    import {storeToRefs} from "pinia";
    import {useDocumentStore} from "../stores/document-store.js";

    const {taxYears, selectedTaxYear} = storeToRefs(useDocumentStore())
</script>