<template>
  <div>
    <AisField label="Session">
      <AisSelect :options="sessions" v-model="selectedSession" name="delegate.selectedSession"/>
    </AisField>
  </div>
</template>


<script setup lang="ts">
    import {AisField, AisSelect} from "@ais-public/ais-components"
    import {storeToRefs} from "pinia";
    import {useDocumentStore} from "../stores/document-store.js";

    const {sessions, selectedSession} = storeToRefs(useDocumentStore())
</script>