<template>

  <div>

    <div class="lg:w-1/3">
      <AisForm server-side method="POST" action="/maui/person/inspect/billing/documents.page">

        <AisField label="Document Type">
          <AisSelect :options="documentTypes" v-model="selectedDocumentType" name="delegate.documentType"/>
        </AisField>

        <AnnualSummaryLetter v-if="selectedDocumentType === 'ANNUAL_SUMMARY'"/>
        <CollectionAgencyDetail v-if="selectedDocumentType === 'COLLECTION_AGENCY_DETAIL'"/>
        <IRS1098T v-if="selectedDocumentType === 'IRS_1098T_DETAILS'"/>
        <StudentAgreement v-if="selectedDocumentType === 'STUDENT_AGREEMENT'"/>
        <TuitionReimbursement v-if="selectedDocumentType === 'TUITION_REIMBURSEMENT'"/>

        <input type="hidden" v-model="id" name="id"/>
        <AisButton class="tw-mt-2" type="submit" hover fast press name="submit">
          Create Document
        </AisButton>

      </AisForm>
    </div>
  </div>

</template>

<script setup lang="ts">

import AnnualSummaryLetter from "./components/AnnualSummaryLetter.vue"
import CollectionAgencyDetail from "./components/CollectionAgencyDetail.vue"
import IRS1098T from "./components/IRS1098T.vue"
import StudentAgreement from "./components/StudentAgreement.vue"
import TuitionReimbursement from "./components/TuitionReimbursement.vue"
import {AisForm, AisField, AisSelect, AisButton} from '@ais-public/ais-components'

import {storeToRefs} from "pinia";
import {useDocumentStore} from "./stores/document-store.js";

const {documentTypes, selectedDocumentType, id} = storeToRefs(useDocumentStore())

</script>

<style scoped>
  form >>> .hide {
    visibility: hidden;
  }
</style>